<!-- Here is where we need to put a footer -->
  <!-- need to add some custom css for the footer, this is pretty try -->

    <footer style="background-color:white">
      <div class="row">
      <div class = "large-12 columns"><hr/>
        <div class = "large-9 columns">
          <!-- need to RESTYLE THIS LATER -->
          <!-- make this MUCH MUCH BIGGER -->
        
          <h1>Joshua E Ferguson</h1>
        </div>
          <div class = "large-1 columns">
              <a href="https://www.facebook.com/joshf3rguson"><img src="img/fb.png" width="100%" height="25%"></a>
          </div> 
        <div class = "large-1 columns">
            <a href="https://github.com/jeferguson"><img src="img/Octocat.png" width="100%" height="100%"></a>
        </div>
        <div class = "large-1 columns">
            <a href="https://twitter.com/JoshuaFerguso10"><img src="img/twitter-icon.png" width="100%" height="100%"></a>
        </div>
      </div>

      </div>

      <center>
        <div class="byline" style="margin-bottom:8px;">
          "The secret to getting ahead is getting started" - Mark Twain
        </div>
      </center>

  
    </div> 
  </footer>

