<!-- This is all of the stuff that goes in the <head> tags... -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Josh Ferguson</title>
    <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/my.css" | prepend: site.baseurl }}" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />

    <script src="js/vendor/modernizr.js"></script>
</head>

