
<!-- This is the top/nav/title bar, which basically means it is at the top of the webpage -->
<div class="fixed contain-to-grid sticky">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
		  <li class="name">
		    <h1><a href="#">Joshua E Ferguson</a></h1>
		  </li>
		   <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		</ul>
	
	
		
	
		<section class="top-bar-section">
		  <!-- Right Nav Section -->
		  <!-- STill need to change the coloring here-->
		 
		 <!-- can move this to either the right or left sides of the navbar-->
		 <!--
		  <ul class="right">
			  <div class="myheader_img">
			  	<a href="#"><img height:auto; width:auto; max-width:25px; src="{{ "/img/ice_climb2.jpg" | prepend: site.baseurl }}"</img></a>
			  </div>
		  </ul>
		 -->
		 
		  <ul class="right">
		    <li class = "divider"></li>
		    <li><a href="#"> Blog </a></li>
		    <li class = "divider"></li>
		    <li><a href="#"> Projects </a></li>
		    <li class = "divider"></li>
		    <li><a href="#"> About </a></li>
		    <li class = "divider"></li>
		    <li><p>&nbsp</p></li>
		    <li><p>&nbsp</p></li>
		    <li class = "gs" ><a href="#" class="button tiny radius round"> Contact </a></li>
		    <li><p>&nbsp</p></li>
		    <li><p>&nbsp</p></li>
		  </ul>
		</section>
		
		
		<center>
			<div class="myheader_img">
				<a href="#"><img height:auto; width:auto; src="{{ "/img/ice_climb2.jpg" | prepend: site.baseurl }}"</img></a>
			</div>		
		</center>
		
	</nav>
</div>
	<!-- END of the NAV/top/title bar etc... -->
