<!-- main image section -->

<section id="homepage-hero" style="background-color:white">

<div class = "my-img-div">
	<img src = "img/beach.jpg"><br><br>

	<center>
		<div class = "row">
			<div class="large-12 columns">
    			<ul class="button-group even-3">
     		 		<li><a href="#" class="Extened button"> Blog </a></li>
     		 		<li><a href="#" class="Extended button"> Projects </a></li>
      		 		<li><a href="#" class="Extended button"> About </a></li>
    			</ul>
    		</div>
    	</div>
    </center>

</div>


<!--
	<div class ="row">
		<div class = "large-12 columns">
			<img src = "img/beach1.jpg"><br><br>
		</div>
	</div>
-->

</section>