<!-- main image section -->

<section>

<div class = "my-img-div">


	<img src = "{{ "/img/beach.jpg" | prepend: site.baseurl }}">
	<br><br>


	<style>
		.button {
			color: white;;
		}
	</style>


	<!-- commenting out the buttons because of the sticky navbar
	<center>
		<div class = "row">
			<div class="large-12 columns">
    			<ul class="button-group even-3">
     		 		<li><a href="#"><button class="Extended button disabled"> Blog </button></a></li>
     		 		<li><a href="#"><button class="Extended button"> Projects </button></a></li>
     		 		<li><a href="#"><button class="Extended button"> About </button></a></li>
    			</ul>
    		</div>
    	</div>
    </center>
    -->

</div>


<!--
	<div class ="row">
		<div class = "large-12 columns">
			<img src = "img/beach1.jpg"><br><br>
		</div>
	</div>
-->

</section>